h3.demo__title fade-css-group

.demo__code

  .demo__code__col.demo__code__col--jsx: pre.language-javascript: code.language-javascript
    include:escape /scripts/components/fade-css-group.js.jsx

  .demo__code__col.demo__code__col--sass: pre.language-sass: code.language-sass
    include:escape /styles/modules/_fade-css-group.sass

.demo__run
  #fade-css-group-demo.live
