h3.demo__title modal-animate

.demo__code

  .demo__code__col.demo__code__col--jsx: pre: code
    include:escape /scripts/components/modal-animate.js.jsx

  .demo__code__col.demo__code__col--sass: pre: code
    include:escape /styles/modules/_modal-animate.sass

.demo__run
  #modal-animate-demo.live
