h3.demo__title modal-animate-prefixed-from-css

.demo__code

  .demo__code__col.demo__code__col--jsx: pre: code
    include:escape /scripts/components/modal-animate-prefixed-from-css.js.jsx

  .demo__code__col.demo__code__col--sass: pre: code
    include:escape /styles/modules/_modal-animate-prefixed-from-css.sass

.demo__run
  #modal-animate-prefixed-from-css-demo.live
