h3 nth-child-delay-css-group

pre.jsx: code
  include:escape /scripts/components/nth-child-delay-css-group.js.jsx

pre.sass: code
  include:escape /styles/modules/_nth-child-delay-css-group.sass

#nth-child-delay-css-group-demo.live
