h3.demo__title nth-child-delay-css-group

.demo__code

  .demo__code__col.demo__code__col--jsx: pre.language-javascript: code.language-javascript
    include:escape /scripts/components/nth-child-delay-css-group.js.jsx

  .demo__code__col.demo__code__col--sass: pre.language-sass: code.language-sass
    include:escape /styles/modules/_nth-child-delay-css-group.sass

.demo__run
  #nth-child-delay-css-group-demo.live
