h3.demo__title tr-child-delay-css-group

.demo__code

  .demo__code__col.demo__code__col--jsx: pre: code
    include:escape /scripts/components/tr-child-delay-css-group.js.jsx

  .demo__code__col.demo__code__col--sass: pre: code
    include:escape /styles/modules/_tr-child-delay-css-group.sass

.demo__run
  #tr-child-delay-css-group-demo.live
