h3.demo__title translate-in-group

.demo__code

  .demo__code__col.slide__code__col--jsx: pre: code
    include:escape /scripts/components/translate-in-group.js.jsx

  .demo__code__col.slide__code__col--sass: pre: code
    include:escape /styles/modules/_translate-in-group.sass

.demo__run
  #translate-in-group-demo.live

h3 Translate In Group

pre.jsx: code
  include:escape /scripts/components/translate-in-group.js.jsx

pre.sass: code
  include:escape /styles/modules/_translate-in-group.sass

#translate-in-group-demo.live
