doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-language', content='en')

    title React Animation Tactics 
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')    


    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Inconsolata:400,700|Merriweather+Sans:400,300,300italic,400italic,700,700italic')
    link(rel='stylesheet', href='vendor/normalize.css')
    link(rel='stylesheet', href='screen.css')

    script(src='bundle.js')

  body

    block body

    script(src='/vendor/impress.js')
    script(src='/vendor/prism.js')
    link(rel='stylesheet', href='vendor/prism-okaidia.css')
    script.
      impress().init();
