doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-language', content='en')

    title React Animation Tactics 
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')    

    link(rel='stylesheet', href='vendor/normalize.css')
    link(rel='stylesheet', href='screen.css')

    script(src='bundle.js')

  body
    h1 React Animation Tactics!

    #app

    script(src='bundle.js')