@import bourbon


$sans: 'Merriweather Sans', sans-serif;
$mono: 'Inconsolata', monospace;



*, *:before, *:after
  +box-sizing(border-box)



body
  background-color: gray
  font-family: $sans

pre
  font-family: $mono
  white-space: pre


.list
  background-color: gray
  display: block

.item
  background-color: blue
  height: 10px 
  width: 10px
  margin: 10px
  float: left



// Impress

.slide
  width: 1200px
  height: 720px
  background-color: white
  overflow-y: scroll


@import modules/fade-in-group
@import modules/translate-in-group
