@import bourbon
@import ./flexbox

$sans: 'Merriweather Sans', sans-serif;
$mono: 'Inconsolata', monospace;


*, *:before, *:after
  +box-sizing(border-box)



body
  background-color: gray
  font-family: $sans

code
  font-family: $mono


pre
  white-space: pre
  overflow: visible

h1, h2, h3, h4, h5, h6
  margin: 0


.list
  background-color: gray
  display: block


// Demos

$c: #0D578C

.live
  width: 600px
  height: 400px
  background-color: $c
  position: relative
  overflow: hidden 

  button
    background-color: transparent
    border: none
    color: tint($c, 90%)
    font-size: 32px
    font-weight: 700
    padding: 2px 10px 
    border: 1px solid tint($c, 75%)
    margin-bottom: 10px
    margin-right: 10px
    border-radius: 6px

  .item,
  .delay-item,
  .tr-delay-item
    background-color: tint($c, 75%)
    $size: 40px
    height: $size
    width: $size
    margin: $size/2 $size/2 0 $size/2 
    float: left
    border-radius: 3px


  .tr-delay-item
    &:nth-child(5n+1)
      clear: left


  .controls
    position: absolute
    bottom: 0
    right: 0
    z-index: 1


.modal
  &__btn
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%) 



// Impress

.slide
  width: 1200px
  height: 720px
  background-color: white
  overflow: hidden
  position: relative

  &.active



.demo

  &__title
    position: absolute
    top: 0
    left: 0
    z-index: 100
    line-height: 32px

  &__code
    height: 100%
    padding-top: 32px
    
    &__col
      width: 50%
      height: 100%
      overflow: scroll
      position: absolute

      & + &
        right: 0

      transition: all 300ms
      transition-delay: 200ms
      
      &.is-big
        width: 80%
      &.is-small
        width: 20%

      &:before
        text-transform: uppercase
        position: absolute
        top: 0
        right: 0

      &--jsx:before
        content: 'jsx'

      &--sass:before
        content: 'sass'


  &__run
    position: absolute
    bottom: 0
    right: 0

    transition: all 300ms ease
    transform: scale(0.5) translate3d(-10%, -10%, 0)
    transform-origin: bottom right
    opacity: 0.75
    
    &:hover
      transform: scale(1) translate3d(-10%, -10%, 0)
      opacity: 1
  

@import modules/fade-css-group
@import modules/translate-in-group
@import modules/modal-css-group
@import modules/nth-child-delay-css-group
@import modules/tr-child-delay-css-group
@import modules/modal-animate
